body {
  width: 100% !important;
}
#link {
  text-decoration: none;
  font-weight: bold;
  color: #5f2781;
}
#logo {
  padding: 12px;
  font-weight: bold;
  color: #5f2781;
}

@media screen and (min-width: 400px) {
  .order-container {
    margin-top: 20%;
  }
}
@media screen and (min-width: 800px) {
  .order-container {
    margin-top: 12%;
  }
}

.ordr-with {
  width: 5%;
}
.bg_btn,
th {
  background-color: #5f2781 !important;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100vh to center vertically */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.T-width {
  width: 5%;
}

.w {
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 700px;
}
.form {
  /* width: 1000px; */
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.form-grid {
  display: grid;
  max-width: 500px;
}

@media (min-width: 768px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
